:root{
    --menu-background-color: white;
    --button-background-color: Gray;
    --button-active-color: DarkGray;
}

.settingscontain {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
    z-index: 10;
}

.invisible {
    visibility: hidden;
}

.nodisplay {
    display: none;
}

.flexcol {
    display: flex;
    flex-direction: column;
    z-index:11;
    flex-grow: 1;
    /* flex-shrink: 1; */
    flex-basis: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-width: 0;
    min-height: 0;
}

.flexrow {
    display: flex;
    flex-direction: row;
    z-index:11;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-width: 0;
    min-height: 0;
}

.buttonbox:not(:empty){
    background-color: var(--menu-background-color);
}

.buttonbox {
    flex-grow: 1;
    flex-basis: 0;
    opacity: 80%;
    margin: 5px;
    width: 95%;
    display: flex;
    flex-align: center;
}
.buttonbox:active {
    opacity: 100%;
}

#playpauseicon, #forwardicon, #backicon {
    max-height: 100%;
    max-width: 100%;
    display: inherit;
}

#albumselector {
    flex-grow: 2;
}

label {
    height: 100%;
    width: 100%;
    display: inherit;
    flex-align: center;
}

.buttondiv{
    display: inherit;
    margin: 10px;
    flex-basis: 0;
    flex-grow: 2;
    text-align: center;
    vertical-align: middle;
    align-items: center;
}

.hmsbuttondiv{
    height: 90%;
}

#albumselector{
    flex-wrap: wrap;
}

.buttonspan{
    background-color: var(--button-background--color);
    height: 100%;
    align-items: center;
    display: inherit;
    justify-content: center;
}

.buttondiv label{
    align-items: center;
}
.buttondiv span{
    width: 100%;
}

.buttoninput{
    display: none
}

.buttondiv>label input:checked ~ .buttonspan{
    background-color: var(--button-background-color);
}
.buttonspan:active{
    background-color: var(--button-active-color);
}

/* allow inputs to shrink in flex boxex */
input {
    min-width: 0;
    min-height: 0;
}
/* sometimes inputs need a width set explicitly
   to respect the size of their parent, we can safely
   do this for the refresh number */
#hmsrefreshnumber{
    width: 100%;
}

/* hide spin buttons on input boxes */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}