<div class="flexcol">
    <div id="albumselector" class="buttonbox" onclick="event.stopPropagation()">
        TODO work with multiple albums
    </div>
    <div id="refreshcontain" class="buttonbox flexrow" onclick="event.stopPropagation()">
        <div class="hmsbuttondiv buttondiv">
            <span class="buttonspan"
                  onclick="let n = document.getElementById('hmsrefreshnumber'); n.stepDown(); REFRESH.setVal(n.value)">
                -
            </span>
        </div>
        <div class="hmsbuttondiv buttondiv">
            <label>
                <input class="buttonspan" id="hmsrefreshnumber" type="number"
                       step="5" min="5" max="120" value="5"
                       onchange="REFRESH.setVal(this.value)"
                />
            </label>
        </div>
        <div class="hmsbuttondiv buttondiv">
            <span class="buttonspan"
                  onclick="let n = document.getElementById('hmsrefreshnumber'); n.stepUp(); REFRESH.setVal(n.value)">
                +
            </span>
        </div>
        <div class="hmsbuttondiv buttondiv">
            <label >
                <input class="buttoninput" type="radio" name="hms" id="hmsseconds"
                       onchange="if(this.checked) REFRESH.setModeGui('seconds', 'hmsrefreshnumber')" checked/>
                <span class="buttonspan">Seconds</span>
            </label>
        </div>
        <div class="hmsbuttondiv buttondiv">
            <label>
                <input class="buttoninput" type="radio" name="hms" id="hmsminutes"
                       onchange="if(this.checked) REFRESH.setModeGui('minutes', 'hmsrefreshnumber')"/>
                <span class="buttonspan">Minutes</span>
            </label>
        </div>
        <div class="hmsbuttondiv buttondiv">
            <label>
                <input class="buttoninput" type="radio" name="hms" id="hmshours"
                       onchange="if(this.checked) REFRESH.setModeGui('hours', 'hmsrefreshnumber')"/>
                <span class="buttonspan">Hours</span>
            </label>
        </div>
    </div>
</div>